* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.container {
  border: 1px solid rgb(67, 60, 60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #8f8787;
}

.form {
  width: 80%;
  border: 2px solid black;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 4px black;
}
.form > input {
  height: 2rem;
  width: 75%;
  font-size: 1rem;
  border: none;
  text-indent: 5px;
}
.form > button {
  height: 2rem;
  width: 25%;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background: #8f8780;
}
.form > button:hover {
  cursor: pointer;
}
.todos {
  width: 80%;
  min-height: 60vh;
  margin-top: 1.5rem;
  padding: 0.5rem;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.todo > p {
  width: 70%;
  word-break: break-all;
}

@media screen and (min-width: 720px) {
  .container {
    width: 35vw;
  }
}
